body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgb(0, 0, 255), rgba(0, 128, 0, 0.856));
    /*background-color: #f8f6fc;*/
    color: #000000;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1;
}

.container {
    width: 50vw;
    height: 90vh;
	/*width: 600px;*/
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgba(0, 0, 255, 0.61);
	/*background: #262626;*/
	padding: 70px;
  	color: #fff;
	text-align: center;
	border-radius: 15px;
    height: 70vh;
    justify-content: center;

    

}

/*Título*/
h1 {
    text-align: center;
    font-family: 'Black Ops One', cursive;
    font-size: 3rem;
    color: black;
     
}

/*Ícone calculadora*/
.fa-duotone, .fa-calculator-simple {
    font-size: 16px;

}

/*Box entrada de números*/
/*input[type=number] {

}

/*Box dos números*/
#num1, #num2 {
    /*display: block;*/
    /*text-align: center;*/
    /*align-items: center;*/
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 1rem;
    border-radius: 15px;
    border: none;
    color: red;
    font-weight: bold;
    text-align: right;
     
}

/*Operadores matemáticos*/
.input_sinais {
    font-size: 2rem;
    letter-spacing: 1rem;
    color: black;
    font-weight: bold;

}

/*Calcular*/
.btnCalcular {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.2rem;
    background-color: color-mix(in srgb, rgba(255, 0, 0, 0.795), white);    border: none;
    cursor: pointer;
    padding: 1rem;
    margin: 1rem;
    border-radius: 3px;
        

}


/*Resultado*/
h2 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    color: rgb(16, 236, 16);
    margin-top: .2rem;

}


footer {
    font-size: 11px;
    text-shadow: 2px 2px 2px black;
    letter-spacing: 2px; 
    align-items: center;
    justify-content: center;
    width: 100%;
    /*height: 4vh;*/
    background-color: #c0bebeaf;
    text-align: center;
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
       
}

@media screen and (max-width: 50em) {
    /*800px*/

    .container {
        /*width: 60%;*/
        width: 50vw;
        height: 50vh;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(0, 0, 255, 0.61);
        /*background: #262626;*/
        padding: 50px;
        color: #fff;
        text-align: center;
        border-radius: 15px;
        /*height: auto;*/
        justify-content: center;


        
    }

    h1 {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 0;

    }

    .fa-duotone, .fa-calculator-simple {
        font-size: 16px;
            
    }



    #num1, #num2 {
        align-items: center;
        margin-top: 1rem;
        font-size: 1rem;
        font-weight: 1rem;
        border-radius: 15px;
        border: none;
        color: red;
        font-weight: bold;
         
    }

    .input_sinais {
        font-size: 25px;
        letter-spacing: .2rem;
        color: black;
        font-weight: bold;
    }

    .btnCalcular {
        color: black;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        letter-spacing: 1px;
        font-size: 1rem;
        background-color: color-mix(in srgb, rgba(255, 0, 0, 0.795), white);    border: none;
        cursor: pointer;
        padding: 1rem;
        margin-top: .8rem;
        margin-bottom: .8rem;
        border-radius: 3px;
            
    
    }

    h2 {
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        font-size: 1rem;
        color: rgb(16, 236, 16);
        margin-top: .8rem;
    
    }


      
   
    
}